<!DOCTYPE html>
<html>
<head>
    <title>Dynamic List Example</title>
</head>
<body>
    <h1>Our Items</h1>
    <ul>
        <% items.forEach(function(item) { %>
            <li><%= item %></li>
        <% }); %>
    </ul>
</body>
</html>
